<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品信息修改</title>
    <style>
        .goods-block {
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        text-align: center;
        }
    </style>
</head>
<body>
    <div class="goods-block">
        <form method="post" enctype="multipart/form-data" action="{% url 'edit_good' good.id %}">
            {% csrf_token %}
            <p>商品名称：<input type="text" name="good_name" value="{{ good.good_name }}"></p>
            <p>单价：<input type="number" name="good_price" value="{{ good.good_price }}"></p>
            <p>库存：<input type="number" name="good_quantity" value="{{ good.good_quantity }}"></p>
            <p>标签：<input type="text" name="good_label" value="{{ good.good_label }}"></p>
            <p>状态:
                <select name="good_state">
                {% for choice in good_state_choices %}
                    <option value="{{ choice.0 }}"
                            {% if good.good_state == choice.0 %}selected{% endif %}>
                            {{ choice.1 }}
                    </option>
                {% endfor %}
                </select></p>
            <button type="submit">提交修改</button>
        </form>
    </div>
</body>
</html>